.bonjour {
    width: 50%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBonjour {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.formBonjour_prenom {
    margin-top: 30px;
}

.formBonjour_click {
    margin-top: 30px;
}

.formBonjour_couleur {
    margin-top: 30px;
}

.carreList {
    display: flex;
    flex-wrap: wrap; // Permet aux carrés de passer à la ligne
    justify-content: center;
    gap: 10px; // Espacement entre les carrés
    margin-top: 20px;
    padding: 10px;
    max-width: 500px;
    transition: gap 1s ease-out;
}


.carre {
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;

    transition: 
        transform 1s ease-out,
        opacity 0.2s ease-out;
    opacity: 1;
    transform: translateX(0);
}

.fade-in {
    opacity: 0;
    transform: translateX(20px);
}