/* ***************************************** */
/* ***************************************** */
/* ESPACE ENTRE LES BLOCS                    */
/* ***************************************** */
/* ***************************************** */


.space30 {
    height: 30px;
}
.space40 {
    height: 40px;
}
.space150 {
    height: 150px;
}

.marginbottom_40px {
    margin-bottom: 40px;
}

.margin-120 {
    margin-top: -120px !important;
}
.margin-80 {
    margin-top: -80px !important;
}

.margin-60 {
    margin-top: -60px !important;
}

.margin-30 {
    margin-top: -30px !important;
}

.margin-10 {
    margin-top: -10px !important;
}

.pad_r_1 {
    padding-right: 1px;
}

.pad_b_1 {
    padding-bottom: 1px;
}