main {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;

    @include media_min("desktop"){
        min-height: 400px;
    }
    @include media_max("desktop"){
        min-height: 340px;
    }
    @include media_max("phone"){
        min-height: 230px;
    }
}